{% extends is_xhr|yesno("fragment.html", "layout.html") %}
{% block body %}
<div class="container-fluid">
    <div class="row gx-60">
        <div class="col-lg-6">
            <div class="product-img-box">
                <img id="detailcover" title="{{ entry.title }}"
                    src="{{ url_for('web.get_cover', book_id=entry.id, resolution='og', c=entry|last_modified) }}"
                    alt="Product Image">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="product-details-box">

                <div class="product-rating-review">
                    {% if entry.ratings.__len__() > 0 %}
                    <span class="review-text">Review ({{ entry.ratings|length }})</span>
                    {% endif %}
                </div>

                <h2 class="product-title">{{ entry.title }}</h2>

                <div class="product-author-section">
                    <span class="author-label">By:</span>
                    {% for author in entry.ordered_authors %}
                    <a href="{{ url_for('web.books_list',  data='author', sort_param='stored', book_id=author.id ) }}"
                        class="author-link">{{ author.name.replace('|',',') }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </div>

                <!-- Price Placeholder (if needed, or just skip as it is library) -->
                <!-- <div class="product-price">$155.00 <del>$23.85</del></div> -->

                <div class="product-description">
                    {% if entry.comments|length > 0 and entry.comments[0].text|length > 0 %}
                    {{ entry.comments[0].text|safe }}
                    {% else %}
                    <p>No description available.</p>
                    {% endif %}
                </div>

                <div class="product-actions">
                    <!-- Download -->
                    {% if current_user.role_download() and entry.data|length %}
                    {% if entry.data|length < 2 %} {% for format in entry.data %} <a
                        href="{{ url_for('web.download_link', book_id=entry.id, book_format=format.format|lower, anyname=entry.id|string+'.'+format.format|lower) }}"
                        class="vs-btn style-brown">Download {{ format.format }}</a>
                        {% endfor %}
                        {% else %}
                        <div class="btn-group">
                            <button type="button" class="vs-btn style-brown dropdown-toggle"
                                data-toggle="dropdown">Download <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                {% for format in entry.data %}
                                <li><a
                                        href="{{ url_for('web.download_link', book_id=entry.id, book_format=format.format|lower, anyname=entry.id|string+'.'+format.format|lower) }}">{{
                                        format.format }} ({{ format.uncompressed_size|filesizeformat }})</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        {% endif %}

                        <!-- Read -->
                        {% if entry.reader_list and current_user.role_viewer() %}
                        {% if entry.reader_list|length > 1 %}
                        <div class="btn-group">
                            <button type="button" class="vs-btn style-brown dropdown-toggle" data-toggle="dropdown">Read
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                {% for format in entry.reader_list %}
                                <li><a target="_blank"
                                        href="{{ url_for('web.read_book', book_id=entry.id, book_format=format) }}">{{
                                        format }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% else %}
                        <a href="{{ url_for('web.read_book', book_id=entry.id, book_format=entry.reader_list[0]) }}"
                            target="_blank" class="vs-btn style-brown">Read</a>
                        {% endif %}
                        {% endif %}

                        <!-- Wishlist -->
                        {% if current_user.is_authenticated %}
                        <div class="btn-group">
                            <button type="button" class="icon-btn style-brown dropdown-toggle" data-toggle="dropdown"
                                title="{{ _('Add to shelf') }}"><i class="far fa-heart"></i></button>
                            <ul class="dropdown-menu">
                                {% for shelf in g.shelves_access %}
                                {% if not shelf.id in books_shelfs and ( not shelf.is_public or
                                current_user.role_edit_shelfs() ) %}
                                <li><a href="#"
                                        data-href="{{ url_for('shelf.add_to_shelf', book_id=entry.id, shelf_id=shelf.id) }}"
                                        data-shelf-action="add">{{ shelf.name }}</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                </div>

                <div class="product-meta-info">
                    <h4 class="meta-title">Information:</h4>

                    {% if entry.series|length > 0 %}
                    <div class="meta-row">
                        <span class="meta-label">Series:</span>
                        <span class="meta-value">{{ _("Book %(index)s of %(range)s", index=entry.series_index |
                            formatfloat(2), range=(url_for('web.books_list', data='series', sort_param='stored',
                            book_id=entry.series[0].id)|escapedlink(entry.series[0].name))|safe) }}</span>
                    </div>
                    {% endif %}

                    {% if entry.tags|length > 0 %}
                    <div class="meta-row">
                        <span class="meta-label">Tags:</span>
                        <span class="meta-value">
                            {% for tag in entry.tags %}
                            <a href="{{ url_for('web.books_list', data='category', sort_param='stored', book_id=tag.id) }}"
                                class="tag-link">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </span>
                    </div>
                    {% endif %}

                    {% if entry.languages|length > 0 %}
                    <div class="meta-row">
                        <span class="meta-label">Language:</span>
                        <span class="meta-value">{% for language in entry.languages %}{{language.language_name}}{% if
                            not loop.last %}, {% endif %}{% endfor %}</span>
                    </div>
                    {% endif %}

                    {% if entry.publishers|length > 0 %}
                    <div class="meta-row">
                        <span class="meta-label">Publisher:</span>
                        <span class="meta-value"><a
                                href="{{ url_for('web.books_list', data='publisher', sort_param='stored', book_id=entry.publishers[0].id ) }}">{{
                                entry.publishers[0].name }}</a></span>
                    </div>
                    {% endif %}
                </div>

                <!-- Edit Button -->
                {% if current_user.role_edit() %}
                <div style="margin-top: 20px;">
                    <a href="{{ url_for('edit-book.show_edit_book', book_id=entry.id) }}" class="vs-btn style-brown"><i
                            class="fas fa-edit"></i> {{ _('Edit Metadata') }}</a>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/template" id="template-shelf-add">
    <li>
        <a data-href="<%= add %>" data-remove-href="<%= remove %>" data-shelf-action="add">
            <%= content %>
        </a>
    </li>
</script>
<script type="text/template" id="template-shelf-remove">
    <a data-href="<%= remove %>" data-add-href="<%= add %>" class="btn btn-sm btn-default"
       data-shelf-action="remove">
        <span class="glyphicon glyphicon-remove"></span> <%= content %>
    </a>
</script>
<script src="{{ url_for('static', filename='js/details.js') }}"></script>
<script src="{{ url_for('static', filename='js/fullscreen.js') }}"></script>
{% endblock %}